div.custom-routes-list
    div
        h1="CUSTOM ROUTES"

    ul
        each route in routes
            li(class="custom-route") 
                a(href=`/my-routes/${route.id}` class="custom-route-link") 
                    <i class="far fa-compass"></i>
                    span= route.name
                a(href=`/my-routes/${route.id}/delete` class="remove-button-a button") REMOVE

        a(href="/my-routes/add" class="create-route-button") CREATE NEW ROUTE
