extends layout

block content
    div(class="route-list")
        h1=`${route.name}`
            each routepark in routesParks
                div(class="routes-parks")
                    p #{routepark.name}
