html( lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet" type="text/css" href="/styles/index.css")
        link(rel="icon" type="image/png" href="/favicon-16x16.png")
        script(src="/scripts.js" type="module" defer)
        title #{title}
    body
        div.errors
            span.close-button Close
            ul.errors-list
        header(id="header")
            div(class="title-login")
                div(class="title")
                    h1 NATIONAL ROUTES
                include login.pug
            include navbar.pug
        main
            block content
        footer
