html( lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        //- link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
        link(rel="stylesheet" type="text/css" href="./styles/index.css")
        script(src="./scripts.js")
        title National Routes - #{title}
    body
        header
            div
                h1= title
                img(src=`./img/mountains.png` class=`mountains-img`)
                include login-in.pug
            nav
                a(href="/") HOME
                a(href="/my-routes") MY ROUTES
                a(href="/") BROWSE
                input(type="text" placeholder="Search Parks" class="search-bar")
                button(type="submit" class="search-bar-button") SEARCH
        main
            block content
        footer
