if !user
    form(action="/login-in" method="post" class="login-in")
        input(type="email" name="email" placeholder="Email")
        br
        input(type="password" name="password" placeholder="Password")
        br
        button(type="submit" class="login-button") LOGIN
        br
        a(href="/demo" class="demo-user-button") DEMO LOGIN
else
    a(href="/logout" class="demo-user-button") LOGOUT
