form(action="/login" method="post" id="login" class="login-user")
    div.errors
    div
    input(type="hidden" name="_csrf" value=token)
    br
    input(type="email" name="email" placeholder="Email")
    br
    input(type="password" name="password" placeholder="Password")
    br
    button(type="submit" class="login-button") LOGIN
