form(action="/login" method="post" class="login")
    div.errors
    input(type="email" name="email" placeholder="Email")
    br
    input(type="password" name="password" placeholder="Password")
    br
    button(type="submit" class="login-button") LOGIN
