form(action="/login" method="post" id="login" class="login-user")
    if !user
        div.errors
        input(type="hidden" name="_csrf" value=token)
        br
        input(type="email" name="email" placeholder="Email" class="email")
        br
        input(type="password" name="password" placeholder="Password" class="password")
        br
        button(type="submit" class="login-button") LOGIN
        br
        a(href="/demo" class="demo-user-button") DEMO LOGIN
    else
        div.welcome
            span Welcome, #{user.username}!
            a(href="/logout" class="logout-button") LOGOUT
