nav(class="navbar")
    div(class="nav-links")
        a(href="/") HOME
        if user
            a(href="/my-routes") MY ROUTES
        a(href="/") BROWSE
    div(class="search")
        input(type="text" placeholder="Search Parks" class="search-bar")
        button(type="submit" class="search-bar-button") SEARCH
