extends layout

block content
    div.error-message
        h1 Oops!
        p It looks like you got lost! But don't fret, our rescue puppy is gonna lead you out of here!
    div.error-puppy
        a(href="/")
            img(src=`/errors/doggy-${randomNum}.png`)
