//- the rates are under div.rating in park-page.pug
div.rating(class=rate.userRate?`star-rate-${rate.userRate}`:false)
    include stars.pug
    if rate.rateAvg
        div.rated Rated #{rate.rateAvg} by #{rate.ratedBy}
    else
        if user
            div.rated Be the first one to rate this park!
        else
            div.rated Sign-in to rate this park!

    include routes-on-page.pug
