form(action="/reviews" method="post" id="review-form")
    input(type="hidden" name="_csrf" value=token)
    input(type="hidden" name="parkId" value=park.id)
    textarea(name="text")
    button(type="submit") Add Review
