.park-image {
  width: 150px;
  height: 150px;
  box-sizing: border-box;
  margin-bottom: 30px;
  margin-left: 10px;
}

.park-image > img {
  width: 100%;
  max-width: 200px;
  max-height: 100%;
  /* filter: drop-shadow(6px 6px 10px #404040); */
}

/* .park-details{

} */

.park-full {
  display: flex;
  /* max-width: 800px; */
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 60px;
}
