.my-routes {
  position: relative;
  display: block;
  width: 200px;
  height: 35px;
  font-family: Park;
  text-transform: uppercase;
  margin-top: 15px;
}
.my-routes div {
  box-sizing: border-box;
  width: 100%;
  cursor: pointer;
}
.my-routes a {
  display: block;
  box-sizing: border-box;
  width: 100%;
  text-decoration: none;
  color: black;
}

.my-routes a.my-route-item.add-route {
  color: green;
}

.add-to-route {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 12px;
  height: 45px;
  font-size: 25px;
  text-align: center;
  padding: 8px 0 10px 0;
}

.add-to-route:hover {
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.8);
}

.open > .add-to-route {
  border-radius: 15px 15px 0 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.open > .add-to-route::after {
  content: " X";
}

.my-routes-list {
  display: none;
  position: absolute;
  top: 30px;
}
.open .my-routes-list {
  display: block;
  position: absolute;
  top: 45px;
  background-color: rgba(255, 255, 255, 0.6);
}

.my-route-item {
  font-size: 20px;
  padding: 5px 5px;
}

.my-route-item:hover {
  background-color: rgba(255, 255, 126, 0.8);
  transform: scale(1.1);
  border-radius: 5px;
}

/* .my-route-item.in-route::before {
  content: "🚩";
} */
