.create-new-route {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 25px;
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
}

.create-new-route h1 {
  font-size: 35px;
  font-family: Park-Thin;
}

.park-image-option {
  max-width: 50px;
  max-height: 50px;
  margin-right: 5px;
}

.park-options {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px,250px));
  padding: 20px 10px;
  width:100%
}
.park-option,
.park-options span {
  align-items: center;
  display: flex;
}

.park-option {
  justify-content: space-between;
  margin: 10px;
}

.park-options span {
  font-size: 20px;
  justify-content: flex-start;
}

.park-option-checkbox {
  align-self: flex-end;
}
