header {
  display: flex;
  flex-direction: column;
  background-color: #989e78;
  box-sizing: border-box;
  height: 160px;
}
header > div {
  display: flex;
  justify-content: space-between;
}

header > div > h1 {
  font-family: Park-Thin;
  color: black;
  font-size: 55px;
  padding-left: 50px;
  /* padding-bottom: 40px; */
}

.mountains-img {
  margin-top: 30px;
  width: 120px;
  height: 70px;
}

.login-in {
  display: flex;
  align-self: flex-end;
  margin: 60px 30px 30px 220px;
}

.login-in > input {
  height: 30px;
  margin-left: 10px;
  border-radius: 5px;
  padding-left: 10px;
}

.login-button {
  height: 30px;
  width: 60px;
  font-size: 13px;
  font-family: Park;
  margin-left: 10px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.7);
}

/* NAVI BAR */
nav {
  display: flex;
  background-color: #555945;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: Park;
  color: black;
  height: 70px;
  border-radius: 4px;
}

nav > a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  margin-left: 50px;
}

.search-bar {
  width: 550px;
  height: 25px;
  border-radius: 5px;
  padding-left: 10px;
  margin-left: 120px;
}

.search-bar-button {
  width: 70px;
  height: 25px;
  border-radius: 4px;
  font-size: 13px;
  font-family: Park;
  background-color: rgba(255, 255, 255, 0.8);
  margin-right: 10px;
}
