@media screen and (max-width: 1200px) {
  .header,
  .mountains-img,
  .navbar {
    width: 100%;
  }
}
header {
  display: flex;
  flex-direction: column;
}

.title-login {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
}

.title > h1 {
  /* margin-right: 20px; */
  font-size: 36px;
}

.title {
  display: flex;
  flex-direction: row;
  font-family: Park-Thin;
  color: black;
}

.welcome > span {
  font-family: Park-Thin;
  font-size: 20px;
  height: 30px;
  margin-right: 10px;
}

/* NAVI BAR */
.navbar {
  box-sizing: border-box;
  height: 100px;
  padding: 0 20px;
  width: auto;
}
nav {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 2px;
  color: black;
  display: flex;
  flex-wrap: no-wrap;
  flex-direction: row;
  font-family: Park;
  justify-content: space-between;
  max-height: 60px;
}

.nav-links {
  display: flex;
  flex-direction: row;
}

.nav-links > a {
  color: #1c1c1c;
  font-size: 16px;
  text-decoration: none;
  margin: 10px;
  margin-right: 20px;
}

.nav-links > a:hover {
  transform: scale(1.2);
}

.search {
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 500px;
}

.search-bar {
  flex-grow: 2;
}
