main {
  display: flex;
  /* flex-direction: row-reverse; */
  position: relative;
}

body {
  background-image: url(/img/cacti.png),
    linear-gradient(
      to left top,
      #74b15d,
      #84b95c,
      #94c25a,
      #a5c958,
      #b7d157,
      #c6ce51,
      #d5cb4d,
      #e3c74c,
      #eeb84c,
      #f5a951,
      #f99a59,
      #f98d63
    );
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
}
