.visited-list-item > a > img,
.custom-routes-list-item > a > img,
.routes-parks > a > img {
  box-sizing: border-box;
  margin-right: 25px;
  width: 80px;
}

.visited-list-item > a > img:hover,
.custom-routes-list-item > a > img:hover,
.routes-parks > a > img:hover {
  transform: scale(1.2);
}

.visited-list,
.custom-routes-list {
  background-color: rgba(255,255,255,0.5);
  border-radius: 25px;
  padding: 20px;
  width: 45%;
}

.visited-list ul,
.custom-routes-list ul {
  list-style: none;
  padding: 0;
}

.custom-routes-list > div > h1, 
.visited-list > div > h1 {
  font-family: Park-Thin;
  font-size: 35px;
}

.custom-routes-list p, 
.visited-list p {
  font-family: Park-Thin;
  font-size: 25px;
  margin-top: 20px;
}

.visited-list-item {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.visited-list-item > div {
  flex-grow: 2;
}

.remove-button {
  position: relative;
}

.remove-confirmation {
  background-color: rgba(255,255,255,0.8);
  box-sizing: border-box;
  border: 2px solid orangered;
  border-radius: 7px;
  position: absolute;
  bottom: 0;
  padding: 7px;
  right: 0;
  width: 300px;
  z-index: 99;
}

.remove-confirmation span {
  font-family: Park-Thin;
  display: block;
  color: orangered;
  font-size: 15px;
}

.remove-confirmation .button {
  display: inline-flex;
  background-color: rgba(255,0,0,0.3);
  border: 1px solid orangered;
}

.hidden {
  display: none;
}
