.visited-list {
  margin: 60px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  /* margin: 60px 50px 50px 50px; */
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 25px;
  padding: 20px;
}

.visited-list > h1 {
  font-family: Park-Thin;
  font-size: 35px;
  align-self: flex-start;
  padding-left: 35px;
}

.visited-list-item {
  display: flex;
  flex-direction: row;
  padding: 0px 20px 12px 50px;
  /* justify-content: space-between; */
  align-items: center;
  align-content: flex-start;
}

.park-image {
  width: 80px;
  height: auto;
  box-sizing: border-box;
  margin-right: 25px;
}

.visited-list-item > p {
  font-family: Park-Thin;
  font-size: 25px;
  margin-right: 25px;
}

.date {
  font-family: Park-Thin;
  font-size: 10px;
}

.visited-list-item > img {
  max-width: 100%;
  max-height: 100%;
  filter: drop-shadow(6px 6px 10px #404040);
}

.remove {
  width: 60px;
  height: 20px;
  margin-top: 10px;
  border: 1px solid white;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.3);
  font-family: Park;
  font-size: 9px;
  margin-left: 60px;
}

.create-new-route {
  width: 350px;
  height: 350px;
  margin: 60px 160px 50px 80px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 25px;
  font-family: Park-Thin;
}

.create-new-route > div {
  margin: 40px;
  width: 300px;
}
.create-new-route > div > input {
  height: 30px;
  width: 200px;
  margin-bottom: 10px;
  padding-left: 5px;
  border-radius: 5px;
  border: 1px solid white;
}

.create-new-route > div > h2 {
  font-size: 25px;
}

.create-route-button {
  width: 75px;
  height: 25px;
  margin-top: 30px;
  border: 1px solid white;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 8px;
}

.checked {
  color: yellow;
}
