@media screen and (max-width: 800px) {
  .park-full,
  .header,
  .mountains-img,
  .navbar {
    width: 100%;

  }
}

.park-full{
  display: grid;
  margin-top: 60px;
  margin-left: 60px;
  grid-template-columns: 50% 50%;
  grid-template:
    "picture picture details details"
    "picture picture details details"
    "visit visit details details"
    "rating rating details details"
    "reviews reviews reviews reviews";
  align-items: stretch;
  justify-self: stretch;
  background-color: yellow;
}

.park-image {
  grid-area: picture;
  align-items: stretch;
  margin-right: 30px;
  background-color: blue;
}

.park-image > img {
  max-width: 100%;
}

.park-details {
  grid-area: details;
  align-items: start;
  background-color: purple;
  width: 600px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.rating {
  grid-area: rating;
  align-items: center;
  margin-right: 30px;
  background-color: cyan;

}

.reviews {
  grid-area: reviews;
  background-color: pink;
}

p {
  background-color: orange;
}

.visited {
  grid-area: visit;
}

.park-header{
  align-self: start;
  background-color: gray;
}
