@media screen and (max-width: 800px) {
  .park-full,
  .header,
  .mountains-img,
  .navbar {
    width: 100%;

  }
}

.park-full{
  display: grid;
  margin-top: 60px;
  margin-left: 60px;
  margin-right: 60px;
  grid-template-columns: 50% 50%;
  grid-template:
    "picture picture details details"
    "picture picture details details"
    "visit visit details details"
    "rating rating details details"
    "reviews reviews reviews reviews"
    "reviews reviews reviews reviews";
  align-items: stretch;
  justify-self: stretch;
}

/* PARK IMAGE SECTION */
.park-image {
  grid-area: picture;
  align-items: stretch;
  margin-right: 30px;
}

.park-image > img {
  max-width: 100%;
}

/* PARK DETAILS SECTION  */
.park-details {
  grid-area: details;
  margin: 0;
  width: 100%;
  border: 1px solid green;
}

.park-header{
  font-size: 1.5vw;
  margin: 0;
  max-width: auto;
}
.park-name, .location{
  font-family: Park;
  margin: 0;
  width: auto;
  border-bottom: 1px solid green;
}

.park-info{
  font-family: Park-thin;
  font-size: 1.5vw;
}

.park-name, .location , .park-info{
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 5px;

}

/* RATING AND COMMUNITY REVIEWS STYLES */
h2 {
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  font-size: 1.5vw;
  font-family: Park;
}

/* RATING SECTION  */
.rating {
  grid-area: rating;
  margin-right: 30px;
  margin-top: 20px;
}

/* REVIEWS SECTION  */
.reviews {
  grid-area: reviews;
  border: 1px solid green;
  margin-top: 50px;
}

.community-reviews {
  background-color:  rgba(255, 255, 255, 0.4);
}

.comments {
  border-top: 1px solid green;
  box-sizing: border-box;
  padding-top: 5px;
  padding-left: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0;
  font-size: 1.5vw;
  font-family: Park;
}

.comments > p {
  font-size: 1.5vw;
  margin: 0;
  padding-bottom: 5px;
  font-family: Park-thin;
}
