@media screen and (max-width: 1200px) {
  .park-full,
  .header,
  .mountains-img,
  .navbar {
    width: 100%;
  }
}

.park-full {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* PARK IMAGE SECTION */
.park-image, .park-details {
  position: relative;
  width: 48%;
}

.park-image .visited-stamp {
  position: absolute;
  max-width: 70%;
}

.park-image > img {
  max-width: 100%;
}

/* PARK DETAILS SECTION  */
.park-details {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 25px;
}

.park-header {
  font-family: Park-Thin;
  margin: 0;
  max-width: auto;
  padding: 20px 30px 20px 30px;
  background-color: rgba(255, 255, 255, 0.3);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.park-header h1 {
  font-size: 30px;
  margin: 0%;
}
.park-header h3 {
  font-size: 20px;
  margin: 0;
}

.park-info {
  font-family: Park-thin;
  font-size: 20px;
  padding: 0px 30px;
}

/* RATING AND COMMUNITY REVIEWS STYLES */
.reviews h2 {
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  font-size: 20px;
  font-family: Park;
}

/* RATING SECTION  */
.rating {
  grid-area: rating;
  margin-right: 30px;
  margin-top: 20px;
  padding: 5px;
}

/* REVIEWS SECTION  */
.reviews {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 15px;
  margin: 30px auto;
  width: 100%;
}

.community-reviews {
  padding: 20px 0px 15px 0;
  background-color: rgba(255, 255, 255, 0.3);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.review-form {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 5px auto;
  padding: 5px;
}

.review-form textarea {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
}

.review-controls {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.comments {
  box-sizing: border-box;
  padding: 10px 20px;
  margin: 0;
  font-family: Park-Thin;
}

.comments > p {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  box-sizing: border-box;
  margin: 10px;
  padding: 10px;
}

.comments > span:first-child {
  position: relative;
}

.comments > span:first-child::after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-bottom: 20px solid rgba(255, 255, 255, 0.5);
  border-right: 20px solid transparent;
  position: absolute;
  bottom: -10px;
  transform: translateX(5px) skewX(15deg);
}

@media screen and (max-width: 670px){
  .park-image, .park-details, .reviews {
    width: 80%;
    margin: 0;
    margin-bottom: 20px;
  }
  .park-full {
    justify-content: center;
  }
}