.park-list-item {
  width: 150px;
  height: 150px;
  box-sizing: border-box;
  margin-bottom: 30px;
  margin-left: 10px;
}

.park-list-item > a > img {
  max-width: 100%;
  max-height: 100%;
  filter: drop-shadow(6px 6px 10px #404040);
}

.park-list {
  display: flex;
  max-width: 800px;
  flex-direction: row;
  /* align-content: space-around; */
  flex-wrap: wrap;
  margin-top: 50px;
  /* margin-left: 50px; */
}

.register-new-user {
  width: 400px;
  height: 400px;
  box-shadow: 8px 8px 10px grey;
  margin: 80px 50px 50px 50px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
}

.register-new-user > div {
  margin: 40px;
}
.register-new-user > div > input {
  height: 30px;
  width: 200px;
  margin-bottom: 10px;
  padding-left: 5px;
  border-radius: 3px;
}

.register-new-user > div > h2 {
  font-family: Park;
  font-size: 25px;
}

.signup-button {
  width: 60px;
  height: 40px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
}
