.star-rate-1 .fa.fa-star.star-1,
.star-rate-2 .fa.fa-star.star-1,
.star-rate-2 .fa.fa-star.star-2,
.star-rate-3 .fa.fa-star.star-1,
.star-rate-3 .fa.fa-star.star-2,
.star-rate-3 .fa.fa-star.star-3,
.star-rate-4 .fa.fa-star.star-1,
.star-rate-4 .fa.fa-star.star-2,
.star-rate-4 .fa.fa-star.star-3,
.star-rate-4 .fa.fa-star.star-4,
.star-rate-5 .fa.fa-star.star-1,
.star-rate-5 .fa.fa-star.star-2,
.star-rate-5 .fa.fa-star.star-3,
.star-rate-5 .fa.fa-star.star-4,
.star-rate-5 .fa.fa-star.star-5 {
    color: yellow;
}

.rating {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rated {
  font-family: Park-thin;
  text-transform: uppercase;
  text-align: center;
}

.stars .fa-star {
    color: lightgray;
    font-size: 40px;
}

.stars .fa-star {
    color: lightgray;
    font-size: 40px;
}

.stars:hover a .fa-star {
    color: yellow;
}

.stars:hover a:hover ~ a .fa-star{
    color:lightgray;
}
