.search-container > h1,
.search-container > h2 {
  display: block;
  font-family: Park-Thin;
  width: 100%;
  text-align: center;
}
.search-container > h2 {
  font-size: 35px;
  margin-top: 25px;
}
.search-container {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}
.states-list {
  text-align: center;
  justify-content: space-around;
  max-width: 1200px;
  margin: 40px auto;
}

.states-list a {
  color: black;
  font-family: Park-Thin;
}

.states-list a + a {
  margin-left: 8px;
  border-left: 1px solid black;
  padding: 5px;
}
