.team-block {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 900px;
  margin: auto;
}

.team-block h1 {
  font-family: Park-Thin;
  font-size: 35px;
  text-transform: uppercase;
  width: 100%;
}

div.team-member {
  display: flex;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  box-sizing: border-box;
  height: 175px;
  padding: 0;
  position: relative;
  margin: 15px 0;
  width: 350px;
}

div.team-img {
  box-sizing: border-box;
  height: 175px;
  left: 0;
  position: absolute;
  top: 0;
  width: 175px;
}

div.team-img img {
  width: 100%;
  border-radius: 5px 0 0 5px;
}

div.team-info {
  box-sizing: border-box;
  padding-left: 50%;
  width: 100%;
}

div.team-info h2 {
  background-color: rgba(255, 255, 255, 0.4);
  border-top-right-radius: 5px;
  font-family: Park-Thin;
  margin: 0;
  padding: 10px;
}

span.details {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px;
}

.github-link {
  color: #000;
  font-size: 40px;
  text-decoration: none;
}

.github-link:hover{
  transform: scale(1.3);
}
