.team-block {
  display: flex;
  flex-direction: column;
  width: 1000px;
  align-items: center;
  margin: auto;
}

.team-block > h1 {
  margin: 0;
  font-family: Park;
  margin-top: 50px;
  font-size: 2.5vw;
}
div.team {
  display: grid;
  box-sizing: border-box;
  max-width: 1000px;
  grid-template-columns: 1fr 1fr;
  margin: 20px auto;
}

div.team-member {
  display: flex;
  box-sizing: border-box;
  width: 95%;
  padding: 15px;
  /* border: 1px solid #0a3e0a; */
  border-radius: 5px;
  margin: 15px 0;
}

div.team-img {
  box-sizing: border-box;
  width: 50%;
  margin-right: 5px;
}

div.team-img img {
  width: 100%;
  border-radius: 5px 0 0 5px;
}

div.team-info {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 0 5px 5px 0;
}

div.team-info h2 {
  padding: 15px 0 15px 0;
  text-transform: uppercase;
  background: rgba(10, 62, 10, 0.4);
  border-radius: 0 5px 0 0;
}

span.details {
  display: block;
  position: relative;
  top: 25px;
  text-align: center;
  font-family: Park-Thin;
  font-size: 20px;
}

.github-link {
  text-align: center;
}
.github-logo {
  height: 60px;
  width: 60px;
}
