.visited-list-item {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  grid-template-rows: 1fr 2fr;
  margin-bottom: 20px;
  margin-left: 20px;
}

.visited-list-item > a {
  grid-area: 1 / 1 / 3 / 2;
  align-self: start;
}

.visited-list-item > p {
  grid-area: 1/2/2/3;
  align-self: start;
  margin: 0;
}

.visited-list-item > .visited-list-rating {
  grid-area: 2/2/3/3;
  align-self: start;
}

.visited-list-item > .remove-button {
  grid-area: 1/3/3/4;
  align-self: center;
}

.visited-list-item .remove-button a {
  box-sizing: border-box;
  padding: 6px;
  height: 30px;
  margin-left: 10px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid white;
  font-size: 0.6vw;
  font-family: Park;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.remove-button-a {
  font-family: Park;
  margin-right: 10px;
  font-size: 0.6vw;
}

.visited-list-item .remove-button a:hover {
  transform: scale(1.2);
  background-color: rgba(255, 255, 255, 1);
}

.remove-button span {
  font-family: Park-Thin;
  display: block;
  color: orangered;
  font-size: 15px;
  margin: 5px 5px 10px 5px;
  width: 220px;
}

.hidden {
  display: none;
}
